table, th, td {
  border: 1px solid rgb(70, 60, 60);
  border-collapse: collapse;
}
table{
  margin-top: 20px;
}
img {
  margin: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 320px;
  height: 300px;
}

.green{
  background-color: #65b796;
}
.red{
  background-color: rgba(235, 109, 109, 0.918);
}
td:hover{
  cursor: pointer;
}
