@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap");

/*init*/
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.main-container {
  height: 100vh;
  display: grid;
}
footer {
  height: 8vh;
  width: 100vw;
}
.vl2 {
  border-left: 2px solid #424242;
  height: 30px;
}

/*Navbar*/
.navbar-header {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.small-nav {
  display: none;
}
.large-nav {
  margin-left: auto;
  height: 10vh;
  padding: 3vh 0 0 0;
}
.large-nav a {
  text-decoration: none;
  margin-right: 60px;
  margin-left: 20px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.large-nav a:hover {
  color: #444444;
  text-decoration: none;
}
/*Main Container*/
.vl1 {
  border-left: 4px solid #424242;
  height: 200px;
  margin-left: auto;
}
.title-container {
  margin-top: -100px;
}
.title-container1 {
  display: flex;
}
.title-container1 img {
  transform: translate(40%, 0);
}
.title-container2 {
  padding-left: 50px;
}
.title-container2 h1 {
  padding-top: 5%;
  font-size: 55px;
  font-family: "Epilogue", sans-serif;
}
.title-container2 h2 {
  font-family: "Epilogue", sans-serif;
}
.title-container2 h1 span {
  color: red;
  font-family: "Epilogue", sans-serif;
}
.cities-container {
  display: flex;
}
.cities-container li {
  list-style-type: none;
  display: flex;
}
.cities-container ul {
  display: flex;
  z-index: 2;
  transform: translate(-35%, 450%);
}
.cities-container p {
  margin: 0 6px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.circle {
  height: 250px;
  width: 250px;
  background-color: #e9d0f3;
  border-radius: 50%;
  z-index: 1;
}
.circle-container {
  transform: translateX(70%);
}
.vl3 {
  border-left: 2px solid #424242;
  height: 300px;
  margin-left: auto;
  margin-top: 20px;
}
.image-container {
  text-align: center;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin-top: -15px;
  margin-left: 200px;
}
/*Links*/
.links {
  position: fixed;
  margin-left: 95vw;
  transform: translateY(130%);
}
.links ul li {
  list-style-type: none;
  margin-top: 15px;
  padding-right: 15px;
  opacity: 0.7;
  z-index: 2;
}
.links ul li:hover {
  opacity: 1;
}
@media (max-width: 1200px) {
  .links {
    margin-left: 93vw;
  }
  .large-nav a {
    margin-right: 35px;
    margin-left: 15px;
  }
  .title-container1 img {
    margin-right: auto;
    transform: translateX(0);
  }
  .title-container2 {
    padding-left: 30px;
  }
  .title-container2 h1 {
    white-space: nowrap;
  }
  .circle-container {
    transform: translateX(35%);
  }
  .vl1 {
    height: 150px;
  }
}
@media (max-width: 992px) {
  .large-nav a {
    margin-right: 25px;
    margin-left: 5px;
  }
  .container {
    max-width: 950px;
  }
  .title-container1 img {
    width: 150px;
    transform: translateX(25%);
  }
  .title-container2 h1 {
    font-size: 45px;
  }
  .title-container2 {
    margin-left: -10px;
  }
  .title-container2 h2 {
    font-size: 30px;
  }
  .image-container img {
    width: 300px;
    margin-top: 40px;
  }
  .title-container {
    margin-top: -150px;
  }
  .circle-container {
    transform: translateX(25%);
  }
}
@media (max-width: 768px) {
  .links {
    display: none;
  }
  .large-nav {
    visibility: hidden;
  }
  .small-nav {
    display: block;
    position: absolute;
  }
  .container {
    max-width: 700px;
  }
  .title-container {
    margin-top: -150px;
    margin-bottom: 100px;
  }
  .title-container1 img {
    width: 150px;
    transform: translateX(20%);
  }
  .title-container2 h1 {
    font-size: 38px;
  }
  .title-container2 h2 {
    font-size: 20px;
  }
  .circle-container {
    transform: translateX(20%);
  }
  .image-container img {
    width: 250px;
    margin-top: 60px;
  }
}
@media (max-width: 680px) {
  .container {
    max-width: 600px;
  }
  .circle {
    width: 170px;
    height: 170px;
  }
  .circle-container {
    margin-top: 50px;
  }
  .title-container {
    margin-top: -50px;
  }
  .circle-container p {
    font-size: 15px;
  }
  .vl2 {
    height: 20px;
  }
  .image-container img {
    width: 200px;
    margin-top: 90px;
  }
  .content-container {
    margin-top: 50px;
  }
  .title-container1 img {
    width: 100px;
    transform: translateX(10%);
  }
  .title-container2 h1 {
    font-size: 30px;
  }
  .title-container2 h2 {
    font-size: 18px;
  }
  .vl1 {
    height: 120px;
  }
  footer p {
    margin-left: 0px;
  }
}

@media (max-width: 576px) {
  .vl1 {
    display: none;
  }
  .title-container {
    text-align: center;
  }

  .title-container2 h1 {
    font-size: 40px;
  }
  .title-container1 img {
    display: none;
  }
  .main-container {
    height: 160vh;
  }
  .vl3 {
    display: none;
  }
  .circle {
    width: 250px;
    height: 250px;
  }
  .circle-container {
    margin-top: 0px;
  }
  .title-container {
    margin-top: -180px;
  }
  .circle-container p {
    font-size: 20px;
  }
  .vl2 {
    height: 30px;
  }
  .circle-container {
    transform: translateX(43%);
  }
  .image-container img {
    width: 350px;
    margin-top: 120px;
  }
}

@media (max-width: 462px) {
  .title-container2 h1 {
    font-size: 30px;
  }
  .circle {
    width: 200px;
    height: 200px;
  }
  .circle-container p {
    font-size: 15px;
  }
  .vl2 {
    height: 20px;
  }
}
@media (max-width: 420px) {
  .main-container {
    height: 1000px;
  }
}

@media (max-width: 320px) {
  .main-container {
    height: 900px;
  }
  .title-container2 h1 {
    font-size: 25px;
  }
  .title-container2{
    margin-left: -10px;
  }
  .circle {
    width: 180px;
    height: 180px;
  }
  .circle-container p {
    font-size: 13px;
  }
  .vl2 {
    height: 17px;
  }
  .image-container img {
    width: 300px;
  }
}

@media (max-width: 280px) {
  .main-container {
    height: 800px;
  }
  .title-container2 h1 {
    font-size: 22px;
  }
  .title-container2{
    margin-left: -10px;
  }
  .circle {
    width: 150px;
    height: 150px;
  }
  .circle-container p {
    font-size: 11px;
  }
  .vl2 {
    height: 13px;
  }
  .image-container img {
    width: 260px;
  }
}


