@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bg-color: #f5d36e;
  --font: "Poppins", sans-serif;
  --cont-color: #f9cd48;
}

body {
  background-color: var(--bg-color) !important;
  font-family: var(--font) !important;
}

#start-page,
#question-page,
#submit-page {
  background-color: var(--cont-color);
  text-align: left;
  width: 600px;
  margin-top: 150px;
  border: solid 1px #000;
  border-radius: 4px;
  padding: 20px;
}
#final-page {
  background-color: var(--cont-color);
  text-align: center;
  width: 450px;
  margin-top: 150px;
  border: solid 1px #000;
  border-radius: 4px;
  padding: 20px;
}
.clicks {
  display: flex;
  justify-content: space-between;
}
#question {
  width: 470px;
  word-wrap: break-word;
  height: 150px;
}

.timer {
  position: relative;
  width: 60px;
  height: 60px;
  float: right;
}
.timer-svg {
  transform: scaleX(-1);
}
.timer-circle {
  fill: none;
  stroke: none;
}
.circle-back {
  stroke-width: 7px;
  stroke: grey;
}
.circle-colors {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}
.circle-colors.green {
  color: rgb(65, 184, 131);
}
.circle-colors.orange {
  color: orange;
}
.circle-colors.red {
  color: red;
}
.circle-label {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
progress{
  position: fixed;
  display: flex;
  margin-top: -25px;
  border-radius: 40px;
  height: 5px;
}
progress::-webkit-progress-bar {
  background-color: white;
}



@media (max-width: 600px) {
    #start-page,
    #question-page,
    #submit-page,
    #final-page {
      width: 460px;
    }
    #question {
      width: 320px;
    }
  }

@media (max-width: 470px) {
  #start-page,
  #question-page,
  #submit-page,
  #final-page {
    width: 300px;
  }
  #question-page{
    margin-top: 10px;
  }
  #question {
    width: 190px;
  }
}

@media (max-width: 280px) {
  #start-page,
  #question-page,
  #submit-page,
  #final-page {
    width: 260px;
  }
  #question {
    width: 150px;
  }
}
